.home-background { background: #fdfdfd }
.bg-osteolia { background: #3f84b7 }
.text-osteolia { color: #3f84b7 }
.btn-outline-osteolia { color: #3f84b7; border-color:#3f84b7; } 
.btn-osteolia { color: #f5f5f5; border-color:#3f84b7; background: #3f84b7; } 
