{% extends 'base.html.twig' %}

{% block title %}Intéressé(e) ?{% endblock %}

{% block body %}

	<main class="container-lg">
	  	<div class="row py-5">
	  		<div class="col">

			   		{{ include('prospect/prospectForm.html.twig') }}

            </div>
        </div>
    </main>

 {% endblock %}