{% extends 'base.html.twig' %}

{% block title %}{{ 'prospect.see_you_soon.page_title' | trans }}{% endblock %}

{% block body %}

 	<main class="container-lg">
	  	<div class="row py-5">
	  		<div class="col">
			    <h1 class="text-osteolia">{{ 'prospect.see_you_soon.content.title' | trans }}</h1>
			    <p class="lead">
			    	{{ 'prospect.see_you_soon.content.lead' | trans }}
			    </p>

		    {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}

            </div>
        </div>
    </main>

 {% endblock %}