
        {% block footer %}
          <footer class="footer mt-auto pt-3">
                <div class="container">
                    <p>
                        <a class="text-decoration-none text-osteolia" href="#">CGU</a> | <a class="text-decoration-none text-osteolia" href="#">Vie privée</a> | <a class="text-decoration-none text-osteolia" href="#">A propos...</a></br>
                        <span class="text-black-50 text-small">© 2021 Joel Gerbier-Violleau</span> 
                    </p>
                </div>
          </footer>		
		{% endblock %}