
        {% block footer %}
          <footer class="footer mt-auto pt-3">
                <div class="container">
                    <p>
                        <a class="text-decoration-none text-osteolia" href="#">{{ 'footer.ToU' | trans }}</a> | <a class="text-decoration-none text-osteolia" href="#">{{ 'footer.privacy' | trans }}</a> | <a class="text-decoration-none text-osteolia" href="#">{{ 'footer.about' | trans }}</a></br>
                        <span class="text-black-50 text-small">{{ 'footer.copyright' | trans }}</span> 
                    </p>
                </div>
          </footer>		
		{% endblock %}