{% extends 'base.html.twig' %}

{% block title %}Hello world! Meet Osteolia :)!{% endblock %}

{% block body %}

	<main class="container-lg">
	  	<div class="row py-5">
	  		<div class="col">
			    <h1 class="text-osteolia">Bienvenue sur osteolia !</h1>
			    <p class="lead">
			    	Nous construisons le plus bel outil de suivi de patients pour les ostéopathes qui s'installent !
			    </p>
			    <div class="row">
			  		<div class="col">
					    <p>Au prgramme dans un futur très proche : </p>
					    <ul>
					    	<li>la saisie intuitive et sécurisée des infos des vos patient et de vos anamnèses</li>
					    	<li>un affichage unique au monde de l'historique de vos patient pour comprendre en un coup d'oeil leur histoire avec vous !</li>
					    	<li>l'édition de vos factures en un clic</li>
					    	<li>vos patients, vos données ! on ne blague pas avec ça</li>
					    	<li>... et on a plein d'autres idées en stock ;)</li>
					    </ul>
					    <p class="lead">
							<button type="button" class="btn btn-outline-osteolia d-none d-lg-block" data-bs-toggle="collapse" data-bs-target="#prospectForm">
								Mais ça m'intéresse (beaucoup)!<i class="bi bi-hand-thumbs-up me-2"></i>
							</button>
							<a href="{{ path('/i-am-interested') }}" type="button" class="btn btn-outline-osteolia d-lg-none">
								Mais ça m'intéresse (beaucoup)!<i class="bi bi-hand-thumbs-up me-2"></i>
							</a>
					    </p>
				   </div>
				</div>
			</div>
		   <div class="col {# % if form.vars.valid % #} collapse {# % endif % #}" id="prospectForm">
			   <div class="card card-body">
			   		{{ include('prospect/prospectForm.html.twig') }}
			   		{# { render(controller('App\\Controller\\ProspectController::newProspect')) } #}	
			   </div>
			</div>
	    </div>
   </main>

{% endblock %}
