        {% block navbar %}
        {# navbar toggles at sm breakpoint #}
        <header>
            <div class="navbar navbar-expand-sm navbar-light sticky-top bd-navbar bg-osteolia">
                 <nav class="container-lg flex-wrap flex-sm-nowrap">
                    <a class="navbar-brand text-light" href="{{ path('home') }}">Osteolia</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                            <li class="nav-item text-light invisible">
                                <a class="nav-link" aria-current="page" href="#">Produit</a>            
                            </li>
                            <li class="nav-item text-light invisible">
                                <a class="nav-link">Tarif</a>           
                            </li>
                        </ul>
                        <div class="me-2">
                            <button class="btn btn-outline-light">Connexion</button>
                        </div>
                    </div>
                 </nav>
            </div>
         </header>
         {% endblock %}